@import "tailwindcss";

@theme{
  --font-sans: "Space Grotesk", system-ui, sans-serif;

  --color-bg: #0a0a0a;
  --color-fg: #ffffff;
  --color-muted: #9ca3af;

  --radius-xl: 1.25rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-black text-fg antialiased;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
